body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #B0C4DE;
    text-align: center;    
}

img{
    width: 100px;
    text-align: center;
    margin-top: 20px;
    margin-right: 30px;
    text-align: center;
    align-items: center;
}

.dice-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container{
    width:40%;
    padding: 50px;
    margin: auto;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px #ffffff;
}

/* .dice-id{
    border: 1px solid black;
} */

button{
    background-color: #e92e3d;
    height: 20%;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px;
    width: 30%;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 1px 1px #ffffff;
}

.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake {
    0%{
        transform: rotate(50deg);
    }
    50%{
        transform: rotate(-50deg);
    }
    100%{
        transform: rotate(50deg);
    }
}

.main-board{
    margin-left: 50px;
    margin-right: 50px;
}

.block{
    width: 100px;
    padding: 0%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 1.5px solid black;
    background:#77dd77;
}
.row{
    display: flex;
    flex-direction: row;
    padding: 0%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 1px solid black;
    background:#77dd77;
}

.active{
    background: #FAC898;
}

.ladder{
    background: lightblue;
}

.snake{
    background: lightcoral;
}